.DS_Store
memes_instagram.py
credentials.json
token.json
pyemail.py
OWM_credentials.py
__pycache__
Payslip Generator
Test Projects
OCR Project/Input
automation_testing/driver/chromedriver
assets
Rest API/env